[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ComplexUpset"]
	path = ComplexUpset
	url = https://github.com/krassowski/complex-upset
